{% extends "base.html" %} {% load static %} {% block content %}

<div class="post-container">
  {% for post in posts %}
  
  <div
    class="card-custom mb-2 p-md-3 rounded"
    style="background-color: {{ post.color }};"
  >
    {% if post.image %}
    <img
      class="card-img-top"
      src="{{ post.image.url }}"
      alt="{{ post.author_name }}"
    />
    {% else %}
    <img
      class="card-img-top"
      src="/static/images/placeholder.jpg"
      alt="placeholder image"
    />
    {% endif %}

    <p class="card-body-text">
      {{ post.body }}
    </p>
    <p><small class="text-muted">Author: <strong>{{ post.author_name }} </strong>| {{ post.posted_date }}</small></p>
  </div>

  {% empty %}
  <div class="d-flex justify-content-center align-items-center">
    <h3 class="text-center">Be the first to post and show Laura some love</h3>
    <iconify-icon icon="openmoji:red-heart" class="display-1"></iconify-icon>
  </div>
  {% endfor %}
</div>
<audio id="sound" src="/static/sound/boo.mp3"></audio>
<script>
  // Play the sound if the flag is set
  {% if play_sound %}
      document.getElementById('sound').play();
  {% endif %}
</script>
<!-- </div> -->
{% endblock %}
